@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/
body {
  padding-top: 100px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.topics p {
  text-align: justify;
}
