@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/
body {
  padding-top: 100px;
  --key-color: #8e44ad;
  --sub-color: #8e44ad;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.topics p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-align: justify;
}

.btn-primary {
  background-color: var(--key-color);
  border: 1px solid var(--key-color);
}

.btn-primary:hover {
  background-color: var(--sub-color);
  border: 1px solid var(--sub-color);
}
